[Unit]
Description=GripRunner
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/GripRunner.py

[Install]
WantedBy=multi-user.target
