[Unit]
Description=Grip Runner
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/PiVision/GripRunner.py

[Install]
WantedBy=multi-user.target
